div .info {
  margin: auto;
  background-color: #EAF0FB;
  width: 95%;
  padding: 10px;
}

d-article div.sourceCode {
  background-color: #f6f6f6;
  max-width: 704px;
  margin: 10px 10px;
  overflow: auto !important;
}

div.sourceCode code {
  font-size: 11px !important;
  max-height: 400px; 
  overflow: auto !important;
}

d-article pre {
  font-size: 11px !important;
  max-height: 400px; 
  overflow: auto !important;
}

d-article li{
  margin-bottom: 0 !important;
}

summary {
  color: #888888 !important;
  font-size: 12px !important;
}

d-article section {
  margin-top: 20px !important;
}
